.input-group[class*="col-"]{
	padding-left: 15px;
	padding-right: 15px;
}
.note{
    display: inline-table;
    line-height: 34px;
}
.btn-primary + .btn-primary{
	margin-left: 100px;
}
.form-horizontal .form-group{
	margin-bottom: 40px;
}
label.required:after{
  content:" *";
  color: #ff0000;
  position: absolute;
  top: 10px;
  right: 4px;
}
#amount:before{
  content: "实际到款："
}
#balance:before{
  content: "账户余额："
}
#amount{
    float: right;
    margin-top: -25px;	
}